<head>
  <title>Simple text reversing Sinatra app</title>
</head>
<body>
<h1>Simple text reversing Sinatra app</h1>
<p>Please enter word:</p>
<form method="post" action="/reverse" enctype="application/x-www-form-urlencoded">
<p><input type="text" name="text" value=''><input type="submit" value="Go!"</p>


</form>
</body>
